node_modules/
android/.gradle/
android/build/
example/node_modules/
example/android/.gradle/
example/android/build/
example/android/app/build/
example/android/app/.cxx/
example/android/local.properties
example/ios/Pods/
*.tgz
.DS_Store
